body{
    background: #f5f5d5;
}
.postsTitle {
    text-align: center;
    font-size: 26px;
}

.date {
    display: block;
    text-align: center;
}
.all_btn{
    text-align: center;
}
.all_btn button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.3em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
}

.all_btn button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fc2f70;
    transform-origin: center right;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

.all_btn button:hover {
    cursor: pointer;
}

.all_btn button:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

@media (max-width: 768px) {
    .siderbar{
        display: none;
    }
}